<!DOCTYPE html>
<html lang="en">
<head>
    <base href="/">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>angular-flickr-app</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="styles/styles.css"/>
</head>
<body>

<nav class="navbar navbar-default" ng-controller="NavController">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" ui-sref='home'>angular-flickr app</a>
        </div>
        <form class="navbar-form navbar-left" role="search" ng-submit="addTag()">
            <div class="form-group">
                <input type="text" class="form-control input-sm" placeholder="Tag" ng-model="newTagName" required
                       ng-minlength="1">
            </div>
            <button type="submit" class="btn btn-sm btn-default">Add tag</button>
        </form>
        <div class="navbar-left" ng-show="currentTags.length">
            <tags tag-text="Current tags" tags="currentTags"/>
        </div>
        <form class="navbar-form navbar-right">
            <button type="submit" class="btn btn-sm btn-primary" ng-click="fetchData()">Load feeds</button>
        </form>
    </div>
</nav>

<div class="main-view container" ui-view></div>
<script src="../jspm_packages/system.js"></script>
<script src="../system.config.js"></script>
<script>
    System.import('app')
            .catch(console.error.bind(console));
</script>
</body>
</html>